{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
        <table>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for action in history %}
                <tr>
                    <td>{{action['symbol']}}</td>
                    <td>{{action['shares']}}</td>
                    <td>${{action['price']}}</td>
                    <td>{{action['date']}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}